<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Groups</title>      

<main class="container text-white">
    <h2>Sweat Rivals Groups Page</h2>
</main>

<%- include('../partials/footer.ejs') %> 
