<div class="container">
    <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top fixed-bottom bg-dark">

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/logo.png" alt="SweatRivals Logo" width="50">
        </a>

        <!-- Arbitrary links for now -->
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/friends" class="nav-link px-2 text-body-secondary">Friends</a></li>
            <li class="nav-item"><a href="/challenges" class="nav-link px-2 text-body-secondary">Challenges</a></li>
            <li class="nav-item"><a href="/groups" class="nav-link px-2 text-body-secondary">Groups</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link px-2 text-body-secondary">Profile</a></li>
        </ul>
    </footer>
</div>
