<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/design.css">

        <title>Index</title>
    </head>
    <body>
        <header>
            <div class="headingMain">
                <a href="/"><img src="" alt="Webiste Logo"></a>                
                    <a href="">Friends</a>
                    <a href="">Challenges</a>
                    <a href="">Groups</a>
                    <a href="">Profile</a>
            </div>
        </header>
