<%- include('../partials/header.ejs') %>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.11"></script>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">

    <h2>Sweat Rivals Add Friend Page</h2>

    <div class="input-group my-4">
        <span class="input-group-text fs-4" id="search-field-text">Username:</span>
        <input type="text" class="form-control" id="search-field-input" aria-describedby="search-field-text">
        <button class="btn btn-success fs-4" type="button">Search</button>        
    </div>

    <div class="container" id="search-results">
        <% randomUsers.map(randomUser => { %>
            <p><%= randomUser.username %></p>
        <% }) %>
    </div>

</main>

