<%- include('../partials/header.ejs') %>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.11"></script>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">

    <h2>Sweat Rivals Add Friend Page</h2>

    <div class="input-group my-4">
        <span class="input-group-text fs-4" id="search-field-text">Username:</span>
        <input type="text" class="form-control" id="search-field-input" aria-describedby="search-field-text">
        <button class="btn btn-success fs-4" type="button">Search</button>        
    </div>

    <div class="container" id="search-results">
        <table class="table table-dark table-striped">
            <tbody class="w-100">
                <% randomUsers.map(randomUser => { %>
                    <tr class="d-flex flex-row w-100">
                        <td class="w-50 fw-bold fs-4"><%= randomUser.username %></td>
                        <td class="w-50 d-flex flex-row-reverse">
                            <% if (user) {%>
                                <% if (user.friendships) { %>
                                    <a href="/" class="btn btn-success">View Profile</a> 
                                <% } else { %>
                                    <a href="/friends/add/<%= randomUser._id %>/" class="btn btn-primary">Send Friend Request</a>
                                <% } %>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
    </div>

</main>

