<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">
    <h2>Sweat Rivals Friends Page</h2>
    
    <a href="/friends/add">
        <button class="btn btn-primary my-2">Add Friend</button>
    </a>

    <% if (friends.length == 0) {%> 
        <p>You have no friends!</p>
    <% } else { %>
        <p>You have friends!</p>
        <p><%= friends %></p>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %> 
