<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">
    <h2>Sweat Rivals Friends Page</h2>
    
    <a href="/friends/add">
        <button class="btn btn-primary my-2">Add Friend</button>
    </a>

    <% if (friendships.length == 0) {%> 
        <p>You have no friends!</p>
    <% } else { %>
        <div class="container" id="search-results">
            <table class="table table-dark table-striped">
                <tbody class="">
                    <thead>
                        <tr class="d-flex flex-row">
                            <th class="fw-bold fs-3">Username</td>
                            <th class="fw-bold fs-3">Status</td>
                            <th class="fw-bold fs-3">Status</td>
                        </tr>
                    </thead>
                </tbody>
            </div>
    <% } %>
</main>

<%#- include('../partials/footer.ejs') %>
