<%- include('./partials/header.ejs') %>

<title>Sweat Rivals | Home</title>      

<main class="container text-white">
    <h2>Sweat Rivals Home Page</h2>
</main>

<%- include('./partials/footer.ejs') %> 
