header{
    margin: 0;
}

.headingMain {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the Header */
.headingMain a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
  /* Change the color of links on hover */
.headingMain a:hover {
    background-color: #f2f2f2;
    color: black;
}
  
  /* Create right-aligned links inside the Header */
.headingMain a.right {
    float: right;
    background-color: black;
    color: white;
    
}

.headingMain a.right:hover {
    background-color: #f2f2f2;
    color: black;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
} 

  /* Style the links inside the Footer */
.footerMain {
    background-color: black;
    overflow: hidden;
}

.footerMain a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
  /* Change the color of links on hover */
.footerMain a:hover {
    background-color: #f2f2f2;
    color: black;
}

body {
    margin: 0;
    
}