<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Challenges</title>      

<main class="container text-white">
    <div class="w-100 mx-auto text-center">
        <h2>Sweat Rivals Challenges</h2>
    </div>
</main>

<%- include('../partials/footer.ejs') %> 
