<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Challenges</title>      

<main class="container text-white">
    <h2>Sweat Rivals Challenges Page</h2>
</main>

<%- include('../partials/footer.ejs') %> 
